* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/bg.png");
  color: #48423b;
  font-family: 'ProximaNova-Regular', sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 5px;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
}

.section__subtitle {
  margin-top: 10px;
  margin-bottom: 50px;
}

.button-o {
  border: 2px solid #018644;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #018644;
  font-family: 'ProximaNova-Bold', sans-serif;
  background-color: #fff;
  text-decoration: none;
  border-radius: 25px;
  visibility: hidden;
}

.button {
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #018644;
  color: #ffffff;
  font-family: 'ProximaNova-Bold', sans-serif;
  cursor: pointer;
}

.button-more {
  color: #018644;
  background-color: #fff;
}

.button-add {
  background-color: #01b95e;
  color: #ffffff;
}

.button-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #018644;
  border: none;
}

.button__prew {
  margin-left: 10px;
  background: #FDAF17 url("../img/ic-minus.png") no-repeat 12px 15px;
}

.button__prew:hover {
  background-color: #018644;
}

.button__next {
  margin-right: 10px;
  background: #FDAF17 url("../img/ic-plus.png") no-repeat 9px 9px;
}

.button__next:hover {
  background-color: #018644;
}

.bg-secondary {
  background: #f1f1f1;
}

.input {
  height: 50px;
  padding: 10px;
  border: 1px solid #dddddd;
}

a[disabled] {
  pointer-events: none !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 99;
}

.navbar__button {
  background-color: transparent;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__logo {
  display: block;
  visibility: hidden;
  margin-left: -150px;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-decoration: none;
  color: #48423b;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #7b7b79;
}

.navbar__menu-button {
  margin-right: 30px;
}

.navbar__sticky {
  background-color: #fff;
  top: 0;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #018644;
  margin: 2px 0;
}

@media (max-width: 991px) {
  .logo {
    padding-left: 20px;
  }
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 80px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #F2F3F5 url("../img/hero/slide01.jpg") no-repeat right top 0;
  background-size: cover;
  margin-top: -150px;
  padding-top: 200px;
  padding-bottom: 110px;
}

.hero__image {
  background: url("../img/logo-250.png") no-repeat 20px top;
  height: 150px;
  display: block;
  margin-top: 50px;
}

.hero__text {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
  width: 50%;
}

.hero__title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__subtitle {
  display: block;
  font-size: 20px;
  font-family: 'ProximaNova-Bold', sans-serif;
  margin-bottom: 40px;
}

.hero__button {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .hero__text {
    width: 99%;
  }
}

.subhero {
  display: block;
  width: 100%;
}

.subhero__button {
  background-color: rgba(63, 60, 58, 0.8);
  width: 100%;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu-uslugi {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.menu-uslugi ul {
  background: #ffffff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.menu-uslugi ul:after {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
}

.menu-uslugi ul:before {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-uslugi li {
  display: block;
  width: 350px;
  height: 35px;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  margin-left: 40px;
  margin-top: 5px;
}

.menu-uslugi li a {
  text-decoration: none;
  padding: 5px 0 0 43px;
  width: 350px;
  height: 27px;
  color: #48423b;
}

.menu-uslugi li a:hover {
  color: #FDAF17;
}

.menu-uslugi__fz-1 {
  background: url("../img/features/uslugi/mini_fiz_service_1.png") no-repeat;
}

.menu-uslugi__fz-1:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-2 {
  background: url("../img/features/uslugi/mini_fiz_service_2.png") no-repeat;
}

.menu-uslugi__fz-2:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-3 {
  background: url("../img/features/uslugi/mini_fiz_service_3.png") no-repeat;
}

.menu-uslugi__fz-3:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-4 {
  background: url("../img/features/uslugi/mini_fiz_service_4.png") no-repeat;
}

.menu-uslugi__fz-4:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-5 {
  background: url("../img/features/uslugi/mini_fiz_service_5.png") no-repeat;
}

.menu-uslugi__fz-5:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-6 {
  background: url("../img/features/uslugi/mini_fiz_service_8.png") no-repeat;
}

.menu-uslugi__fz-6:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-7 {
  background: url("../img/features/uslugi/mini_fiz_service_7.png") no-repeat;
}

.menu-uslugi__fz-7:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-8 {
  background: url("../img/features/uslugi/mini_fiz_service_14.png") no-repeat;
}

.menu-uslugi__fz-8:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-9 {
  background: url("../img/features/uslugi/mini_fiz_service_15.png") no-repeat;
}

.menu-uslugi__fz-9:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-10 {
  background: url("../img/features/uslugi/mini_fiz_service_6.png") no-repeat;
}

.menu-uslugi__fz-10:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-11 {
  background: url("../img/features/uslugi/mini_fiz_service_9.png") no-repeat;
}

.menu-uslugi__fz-11:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-12 {
  background: url("../img/features/uslugi/mini_fiz_service_10.png") no-repeat;
}

.menu-uslugi__fz-12:hover {
  background-position: 0 -35px;
}

.switch-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  line-height: 38px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.switch-swbtn {
  color: #018644;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.switch-btn {
  display: inline-block;
  width: 72px;
  height: 38px;
  border-radius: 19px;
  background: #018644;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.switch-btn::after {
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 17px;
  background: url("../img/bg.png");
  top: 3px;
  left: 3px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #FDAF17;
}

.switch-on::after {
  left: 37px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  margin-bottom: 100px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  background-color: #ffffff;
}

.features-block__item:after {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
}

.features-block__item:before {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -35px;
}

.features-block__item hr {
  border: none;
  height: 3px;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.features-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'ProximaNova-Bold', sans-serif;
  background-color: #01864533;
}

.features-block__list-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #7b7b79;
  font-size: 15px;
  min-height: 35px;
}

.features-block__list-small:hover {
  background-color: #f1f1f1;
}

.features-block__column-1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features-block__column-1 h3 {
  margin: 0.5em;
}

.features-block__column-1 p {
  padding-left: 20px;
  margin: 0;
}

.features-block__column-2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 170px;
  text-align: center;
}

.features-block__column-2 p {
  font-size: 12px;
  margin: 0;
}

.features-block .fbc-2s {
  color: #018644;
  font-size: 20px;
}

.features-block__text {
  font-size: 18px;
  font-family: 'ProximaNova-Bold', sans-serif;
  margin-top: 20px;
  white-space: nowrap;
}

.features-block__subtitle {
  text-transform: lowercase;
  font-family: 'ProximaNova-Regular', sans-serif;
}

.features-block__subtitle span {
  font-size: 30px;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.features-block__more {
  text-align: left;
  padding: 15px;
  font-variant: small-caps;
  height: 250px;
}

.features-block__more ul, .features-block__more li {
  color: #7b7b79;
  font-size: 14px;
  text-transform: lowercase;
  font-variant: normal;
  line-height: 16px;
}

.features-block-icon {
  text-transform: lowercase;
  font-variant: normal;
  color: #7b7b79;
  font-size: 14px;
  line-height: 32px;
}

.features-block-icon i {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.features-block__icon i {
  background: url("../img/features/s_icon.png") left top;
}

.features-block__icon-s i {
  background: url("../img/features/path9.png") no-repeat;
}

.features-block__icon-o i {
  background: url("../img/features/path8.png") no-repeat;
}

.features-block__icon-i i {
  background: url("../img/features/path7.png") no-repeat;
}

.features__link {
  text-decoration: none;
  color: #48423b;
}

.features__sale {
  background: #ffffff url("../img/features/icon-aktsiya.png") no-repeat right 30px;
}

.features__sale .features-block__text {
  color: #48423b;
}

.features__sale p {
  color: #CE0100;
}

.features__sale span {
  color: #CE0100;
}

.row {
  display: none;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}

.row hr {
  border: none;
  width: 100%;
  height: 3px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

.uslugi-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  margin-top: -40px;
  font-size: 15px;
  border-left: 10px solid #FDAF17;
}

.uslugi-text p {
  padding-left: 20px;
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}

.section__title {
  margin-top: 80px;
}

.works {
  background: url(../img/bgBottom.png);
}

.works-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.works-block-top {
  display: block;
  background: url(../img/uzorBottom.png) repeat-x 0 0;
  height: 28px;
  width: 100%;
  margin-top: -78px;
}

.works-block__item {
  -ms-flex-preferred-size: 18%;
      flex-basis: 18%;
  position: relative;
  text-align: center;
  font-family: 'ProximaNova-Bold', sans-serif;
  min-width: 170px;
  margin-right: 5px;
  background: #ffffff;
  margin-bottom: 60px;
}

.works-block__item:before {
  display: block;
  position: absolute;
  top: 5%;
  left: 200px;
  content: " ";
  background: url(../img/work_icons.png);
  width: 29px;
  height: 58px;
}

.works-block__item:last-child:before {
  display: none;
}

.works-block__title {
  text-transform: uppercase;
  font-size: 15px;
  height: 2em;
  padding: 0 10px;
}

.works-block__subtitle {
  padding: 0 10px;
  font-size: 15px;
  font-family: 'ProximaNova-Regular', sans-serif;
  text-align: left;
  text-transform: none;
  padding-bottom: 10px;
}

.works-block__image {
  width: 100px;
}

.works-block-bottom {
  display: block;
  background: url(../img/uzorBottom.png) repeat-x 0 0;
  width: 100%;
  height: 30px;
  margin-bottom: -80px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media (max-width: 1199px) {
  .works-block__item {
    -ms-flex-preferred-size: 18%;
        flex-basis: 18%;
  }
  .works-block__item:before {
    left: 165px;
    z-index: 2;
  }
}

@media (max-width: 991px) {
  .works-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .works-block__item {
    -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    margin-right: 10px;
  }
  .works-block__item:before {
    left: 225px;
  }
}

@media (max-width: 768px) {
  .works-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin: 5px 0;
  }
  .works-block__item:before {
    top: 90%;
    left: 40px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.calc-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calc-block__item {
  display: block;
  margin: 10px;
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.calc__title {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.calc__title span {
  font-size: 16px;
  text-transform: lowercase;
  font-family: 'ProximaNova-Regular', sans-serif;
}

.calc__result {
  margin-top: 40px;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__label {
  display: block;
  font-size: 17px;
  margin-bottom: 15px;
}

.form__group {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.form__group select {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form__group select:-ms-expand {
  display: none;
}

.form__input {
  width: 100%;
  border-right-width: 0;
}

.form__input:last-child {
  border-right-width: 1px;
}

.form__slide {
  display: inline-block;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.form__slide span {
  display: block;
  position: absolute;
  pointer-events: none;
  left: 8px;
  top: 1px;
  right: 90px;
  bottom: 0;
}

.form__slide output {
  position: absolute;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  font-size: 14px;
  color: #ffffff;
  font-family: 'ProximaNova-Bold', sans-serif;
  top: 35px;
  bottom: 0;
  margin: auto 0;
}

.form__addWork {
  margin-top: 40px;
}

.form__window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 40px;
}

.form__window .dop-item {
  display: inline-block;
  position: relative;
  width: 141px;
  height: 141px;
  border: 1px solid #c4c4c4;
  margin-right: 5px;
  margin-bottom: 5px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form__window .dop-item:hover {
  border: 1px solid #FDAF17;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form__window .dop-item:hover .dp-item-cost {
  color: #FDAF17;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form__window .dop-item .dp-item-name {
  display: inline-block;
  margin-top: 80px;
  font-size: 13px;
  padding: 0 5px;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form__window .dop-item .dp-item-cost {
  font-size: 13px;
  font-family: 'ProximaNova-Bold', sans-serif;
  color: #018644;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.form__window .dop-item .hidden {
  display: none;
}

.form__window .dop-item .input-wrapper {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 5px;
  width: 100%;
  height: 32px;
  overflow: hidden;
}

.form__window .dop-item .dp-item__button {
  opacity: 1;
  pointer-events: auto;
  width: 30px;
  height: 30px;
  display: block;
  text-decoration: none;
  position: relative;
  font-size: 15px;
  line-height: 40px;
  text-align: center;
}

.form__window .dop-item .dp-item__input {
  display: block;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 2px 2px;
  opacity: 1;
  pointer-events: auto;
  width: 20px;
  border: none;
  text-align: center;
  background-color: #ffffff;
}

.form__window .dp {
  background: #f1f1f1 center 25px no-repeat;
}

.slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 10px;
  background: #01864533;
  outline: none;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 90px;
  height: 30px;
  background: #018644;
  border-radius: 25px;
}

.work-block__item {
  margin: 10px;
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.work-block__header {
  background: #ffffff url(../img/advantage-line.png) no-repeat 0 0;
  width: 100%;
  height: 55px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.work-block__main {
  padding-left: 20px;
  background: #ffffff;
  min-height: 100px;
  padding-right: 20px;
}

.work-block__calc-header {
  background: #ffffff url(../img/works/01-2.png) no-repeat 0 0;
  min-height: 50px;
  padding-left: 70px;
  padding-right: 20px;
  font-size: 16px;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.work-block__bottom {
  background: #ffffff url(../img/advantage-line.png) no-repeat 0 0;
  width: 100%;
  height: 55px;
}

.addWork-additional {
  margin-top: 20px;
  font-size: 14px;
}

.addWork-additional .checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.addWork-additional .checkbox + label {
  position: relative;
  padding: 0 0 0 45px;
  cursor: pointer;
}

.addWork-additional .checkbox + label:before {
  content: " ";
  position: absolute;
  top: -2px;
  left: 0;
  width: 36px;
  height: 20px;
  border-radius: 10px;
  background: #018644;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  transition: .2s;
}

.addWork-additional .checkbox + label:after {
  content: " ";
  position: absolute;
  top: 0px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #ffffff;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  transition: .2s;
}

.addWork-additional .checkbox:checked + label:before {
  background: #FDAF17;
}

.addWork-additional .checkbox:checked + label:after {
  left: 18px;
}

.dop-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  font-size: 14px;
}

.dop-name__left {
  margin-top: 10px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.dop-name__right {
  margin-top: 10px;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  text-align: right;
}

.dop-item.active {
  border: 1px solid #FDAF17;
  background-position: center 5px;
}

.dop-item.active > .dp-item-name {
  margin-top: 55px;
}

.dop-item.active > .dp-item-cost {
  color: #FDAF17;
}

.dop-item.active .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
/*# sourceMappingURL=style.css.map */