* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1170px;
  margin: auto;
}

@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 991px) {
  .container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 20px;
  }
}

@font-face {
  font-family: 'ProximaNova-Regular';
  src: url("../fonts/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ProximaNova-Bold';
  src: url("../fonts/ProximaNova-Bold.eot");
  src: url("../fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../img/bg.png");
  color: #48423b;
  font-family: 'ProximaNova-Regular', sans-serif;
}

img {
  max-width: 100%;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-size: 30px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-align: center;
  text-transform: uppercase;
}

.section__title {
  margin-bottom: 5px;
}

.section-subtitle {
  font-size: 20px;
  text-align: center;
}

.section__subtitle {
  margin-top: 10px;
  margin-bottom: 50px;
}

.button-o {
  border: 2px solid #018644;
  padding: 17px 22px;
  font-size: 12px;
  text-transform: uppercase;
  color: #018644;
  font-family: 'ProximaNova-Bold', sans-serif;
  background-color: #fff;
  text-decoration: none;
  border-radius: 25px;
  visibility: hidden;
}

.button {
  text-decoration: none;
  border: none;
  text-transform: uppercase;
  padding: 25px 45px;
  background-color: #018644;
  color: #ffffff;
  font-family: 'ProximaNova-Bold', sans-serif;
  cursor: pointer;
}

.button-more {
  color: #018644;
  background-color: #fff;
}

.button-add {
  background-color: #01b95e;
  color: #ffffff;
}

.button-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background-color: #018644;
  border: none;
}

.bg-secondary {
  background: #f1f1f1;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 99;
}

.navbar__button {
  background-color: transparent;
}

.navbar-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 80px;
}

.navbar__logo {
  display: block;
  visibility: hidden;
  margin-left: -150px;
}

.navbar__mobile, .navbar__landline {
  text-align: right;
}

.navbar__phone {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-decoration: none;
  color: #48423b;
}

.navbar__small-text {
  display: block;
  font-size: 14px;
  text-decoration: none;
  color: #7b7b79;
}

.navbar__menu-button {
  margin-right: 30px;
}

.navbar__sticky {
  background-color: #fff;
  top: 0;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  border: none;
  height: 80px;
  width: 70px;
}

.menu-button__line {
  display: block;
  width: 20px;
  height: 3px;
  background-color: #018644;
  margin: 2px 0;
}

@media (max-width: 991px) {
  .navbar__mobile, .navbar__landline {
    display: none;
  }
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  .menu {
    top: 80px;
  }
  .menu-button {
    height: 60px;
  }
  .menu__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__link {
    margin-bottom: 20px;
  }
}

.hero {
  background: #F2F3F5 url("../img/hero/slide01.jpg") no-repeat right top 0;
  background-size: cover;
  margin-top: -150px;
  padding-top: 200px;
  padding-bottom: 110px;
}

.hero__image {
  display: block;
  margin-top: 50px;
  padding-left: 20px;
}

.hero__text {
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 20px;
  width: 50%;
}

.hero__title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 30px;
}

.hero__subtitle {
  display: block;
  font-size: 20px;
  font-family: 'ProximaNova-Bold', sans-serif;
  margin-bottom: 40px;
}

.hero__button {
  margin-bottom: 60px;
}

@media (max-width: 768px) {
  .hero__text {
    width: 99%;
  }
}

.subhero {
  display: block;
  width: 100%;
}

.subhero__button {
  background-color: rgba(63, 60, 58, 0.8);
  width: 100%;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.menu-uslugi {
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}

.menu-uslugi ul {
  background: #ffffff;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}

.menu-uslugi ul:after {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
}

.menu-uslugi ul:before {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu-uslugi li {
  display: block;
  width: 350px;
  height: 35px;
  overflow: hidden;
  font-size: 16px;
  line-height: 16px;
  padding: 7px;
  margin-left: 40px;
  margin-top: 5px;
}

.menu-uslugi li a {
  text-decoration: none;
  padding: 5px 0 0 43px;
  width: 350px;
  height: 27px;
  color: #48423b;
}

.menu-uslugi li a:hover {
  color: #FDAF17;
}

.menu-uslugi__fz-1 {
  background: url("../img/features/uslugi/mini_fiz_service_1.png") no-repeat;
}

.menu-uslugi__fz-1:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-2 {
  background: url("../img/features/uslugi/mini_fiz_service_2.png") no-repeat;
}

.menu-uslugi__fz-2:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-3 {
  background: url("../img/features/uslugi/mini_fiz_service_3.png") no-repeat;
}

.menu-uslugi__fz-3:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-4 {
  background: url("../img/features/uslugi/mini_fiz_service_4.png") no-repeat;
}

.menu-uslugi__fz-4:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-5 {
  background: url("../img/features/uslugi/mini_fiz_service_5.png") no-repeat;
}

.menu-uslugi__fz-5:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-6 {
  background: url("../img/features/uslugi/mini_fiz_service_8.png") no-repeat;
}

.menu-uslugi__fz-6:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-7 {
  background: url("../img/features/uslugi/mini_fiz_service_7.png") no-repeat;
}

.menu-uslugi__fz-7:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-8 {
  background: url("../img/features/uslugi/mini_fiz_service_14.png") no-repeat;
}

.menu-uslugi__fz-8:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-9 {
  background: url("../img/features/uslugi/mini_fiz_service_15.png") no-repeat;
}

.menu-uslugi__fz-9:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-10 {
  background: url("../img/features/uslugi/mini_fiz_service_6.png") no-repeat;
}

.menu-uslugi__fz-10:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-11 {
  background: url("../img/features/uslugi/mini_fiz_service_9.png") no-repeat;
}

.menu-uslugi__fz-11:hover {
  background-position: 0 -35px;
}

.menu-uslugi__fz-12 {
  background: url("../img/features/uslugi/mini_fiz_service_10.png") no-repeat;
}

.menu-uslugi__fz-12:hover {
  background-position: 0 -35px;
}

.switch-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
  line-height: 38px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.switch-swbtn {
  color: #018644;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.switch-btn {
  display: inline-block;
  width: 72px;
  height: 38px;
  border-radius: 19px;
  background: #018644;
  z-index: 0;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.switch-btn::after {
  content: "";
  height: 32px;
  width: 32px;
  border-radius: 17px;
  background: url("../img/bg.png");
  top: 3px;
  left: 3px;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  position: absolute;
  z-index: 1;
}

.switch-on {
  background: #FDAF17;
}

.switch-on::after {
  left: 37px;
}

.features-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features-block__item {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
  font-family: 'ProximaNova-Bold', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
  background-color: #ffffff;
}

.features-block__item:after {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
}

.features-block__item:before {
  display: block;
  background: url("../img/advantage-line.png") no-repeat 0 0;
  content: " ";
  width: 100%;
  height: 55px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: -35px;
}

.features-block__item hr {
  border: none;
  height: 3px;
  color: rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.1);
}

.features-block__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-family: 'ProximaNova-Bold', sans-serif;
  background-color: #01864533;
}

.features-block__list-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  color: #7b7b79;
  font-size: 15px;
  min-height: 35px;
}

.features-block__list-small:hover {
  background-color: #f1f1f1;
}

.features-block__column-1 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  padding-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.features-block__column-1 h3 {
  margin: 0.5em;
}

.features-block__column-1 p {
  padding-left: 20px;
  margin: 0;
}

.features-block__column-2 {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  min-width: 170px;
  text-align: center;
}

.features-block__column-2 p {
  font-size: 12px;
  margin: 0;
}

.features-block .fbc-2s {
  color: #018644;
  font-size: 20px;
}

.features-block__text {
  font-size: 18px;
  font-family: 'ProximaNova-Bold', sans-serif;
  margin-top: 20px;
  white-space: nowrap;
}

.features-block__subtitle {
  text-transform: lowercase;
  font-family: 'ProximaNova-Regular', sans-serif;
}

.features-block__subtitle span {
  font-size: 30px;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.features-block__more {
  text-align: left;
  padding: 15px;
  font-variant: small-caps;
}

.features-block__more ul, .features-block__more li {
  color: #7b7b79;
  font-size: 14px;
  text-transform: lowercase;
  font-variant: normal;
  line-height: 16px;
}

.features-block-icon {
  text-transform: lowercase;
  font-variant: normal;
  color: #7b7b79;
  font-size: 14px;
  line-height: 32px;
}

.features-block-icon i {
  display: inline-block;
  vertical-align: top;
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.features-block__icon i {
  background: url("../img/features/s_icon.png") left top;
}

.features-block__icon-s i {
  background: url("../img/features/path9.png") no-repeat;
}

.features-block__icon-o i {
  background: url("../img/features/path8.png") no-repeat;
}

.features-block__icon-i i {
  background: url("../img/features/path7.png") no-repeat;
}

.features__link {
  text-decoration: none;
  color: #48423b;
}

.features__sale {
  background: #ffffff url("../img/features/icon-aktsiya.png") no-repeat right 30px;
}

.features__sale .features-block__text {
  color: #48423b;
}

.features__sale p {
  color: #CE0100;
}

.features__sale span {
  color: #CE0100;
}

.row {
  display: none;
  -webkit-box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.1);
}

.row hr {
  border: none;
  width: 100%;
  height: 3px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .features-block__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .features-block__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 50px;
  }
}
/*# sourceMappingURL=style.css.map */