@font-face {
    font-family: 'Comfortaa Light';
    src: url('../fonts/Comfortaa-Light.eot');
    src: url('../fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa-Light.woff') format('woff'),
    url('../fonts/Comfortaa-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@font-face {
    font-family: 'Comfortaa Bold';
    src: url('../fonts/Comfortaa-Bold.eot');
    src: url('../fonts/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Comfortaa-Bold.woff') format('woff'),
    url('../fonts/Comfortaa-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    }

@mixin bold {
    font-family: 'Comfortaa Bold', sans-serif;
}
@mixin light {
    font-family: 'Comfortaa Light', sans-serif;
}